{% extends "rango/base.html" %}

{% block title %}Bienvenido a Bar Adviser!{% endblock %}

{% block body_block %}



<div class="hero-unit">
    <h1>Bar Adviser</h1>

    <p>Tu guía de bares y restaurantes de españa</p>
</div>


<div class="row-fluid">
    <div class="span6">

        <h2>Top 5 bares</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
<!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }} ({{category.views}}  views)</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No hay bares</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="span6">
        <h2>Top 5 tapas</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category}} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No hay tapas.</strong>
        {% endif %}

    </div>
    <!--/span-->
</div><!--/row-->

<script type="text/javascript">
var onResize = function() {
  // apply dynamic padding at the top of the body according to the fixed navbar height
  $("body").css("padding-top", $(".navbar-fixed-top").height());
};

// attach the function to the window resize event
$(window).resize(onResize);

// call it also when the page is ready after load or reload
$(function() {
  onResize();
});

</script>


{% endblock %}

